# Configuración de Base de Datos
# En la nube (Render), pega aquí la "External/Internal Database URL"
DATABASE_URL=postgresql://postgres:0111@localhost:5432/data_sic

# Configuración del Bot
TELEGRAM_TOKEN=8758265776:AAHRTZh5HbsjrvWZSaNpiygoZHnRR4h4ANE
ADMIN_CHAT_ID=@SistemaSIC_bot

# Seguridad
SECRET_KEY=secreto_clinica_sic
