# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Base de datos local (Solo para que no se suba tu DB personal)
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Carpetas de distribución
dist/
build/
*.exe
